@model LabHelloMvc.Models.Person

<!DOCTYPE html>
<html>
<head>
    <title>Person Info</title>
</head>
<body>
    <h1>Person Information</h1>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
</body>
</html>
